body{
    background-color: antiquewhite;
}

p {
    color: red;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

h1, h2{
    color: black;
    font-weight: 1000;
    font-size: 33px;
    padding: 5px;
    text-align: center;
}

a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
    margin-left: 46.5vw;
    margin-bottom: 15px;
}

ul li{
    border: 1px solid black;
    width: 50px;
    padding: 3px;
    background-color: aquamarine;
}

header{
    height: 33%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
}

main{
    font-size: 15px;
    height: 33%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: azure;
}

footer{
    font-size: 11px;
    color: white;
    height: 34%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: black;
}